{% extends '::base.html.twig' %}

{% block body %}
    <h2>Issues</h2>
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Tags</th>
            <th>Milestone</th>
            <th>Closed</th>
            <th>Date</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th><a href="{{ path('gitlabapi_issue_new') }}" class="ym-button ym-add">Create a new issue</a></th>
            <th colspan="4"></th>
        </tr>
    </tfoot>
    <tbody>
        {% for issue in issues %}
            <tr class="{% if issue.closed %}closed{% else %}open{% endif %}">
                <td>{{ issue.title }}</td>
                <td>{% if issue.labels|length > 0 %}{{ issue.labels|join(", ") }}{% else %}n/a{% endif %}</td>
                <td>{% if issue.milestone %}{{ issue.milestone.title }}{% else %}n/a{% endif %}</td>
                <td>{% if issue.closed %}ja{% else %}nein{% endif %}</td>
                <td>{{ issue.created_at|date }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No issues was found!</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
